        html, body {
            height: 100%;
            width: 100%;                  
        }
        .mainTable {
            height: 100%;
            width: 100%;
            position: absolute;
            background-image: linear-gradient(#ADD8E6, #003366);  
        }
        .banner{
            height: 10%;
            width: inherit;
        }
        .mainPage {
            height: 80%;
            width: inherit;
        }
        .footer{
            height: 10%;
            width: inherit;
        }
        .elements {
            height: 100%;
            width: 100%;
        }
        .settings {
            width: 10%;
        }
        .map {
            width: 60%;
        }
        .data {
            width: 30%;
        }
        .header {
            height: 100%;
            width: 75%;
        }
        .login{
            width: 100%;
        }
        .charts {
            width: 100%;
            height: 100%;
        }